body {
    font-family: Arial;
    text-align: center;
    background-color: #f0f0f0;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
}

li {
    margin: 10px;
}

